.login-page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, green , red);
}
form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 8px 30px 0 rgba(31,38,135,0.4);
    border-radius: 30px;
    border-left: 1px solid white;
    border-top: 1px solid white;
}
form:before{
    content: "";
    position: absolute;
    bottom: 3%;
    right: 28%;
    width: 200px;
    height: 200px;
    background: magenta;
    z-index: -1;
    opacity: .8;
    border-radius: 50%;
}
form:after{
    content: "";
    position: absolute;
    top: 3%;
    left: 28%;
    width: 200px;
    height: 200px;
    background: magenta;
    z-index: -1;
    opacity: .8;
    border-radius: 50%;
}
h1{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 3px;
    margin-bottom: 5%;
}
label{
    font-size: 20px;
    color: white;
    margin-left: 10%;
    text-shadow: 2px 2px 4px black;
}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    opacity: .8;
}
button{
    width: 50%;
    margin: 3% auto;
    color: white;
    font-size: 15px;
    opacity: .7;
    background: rgba(255, 255, 255, 0.06);
    padding: 10px 30px;
    border: none;
    outline: none;
    text-shadow: 2px 2px 4px black;
    box-shadow: 3px 3px 5px black;
    border-left: 1px solid rgba(250, 249, 249, 0.224);
    border-top: 2px solid rgba(250, 249, 249, 0.224);
}
a{
    font-size: 12px;
    text-align: center;
    color: white;
    opacity: .7;
}